
* {
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Fira Sans', sans-serif;
    background-color: #FDFDFD;
    color: #181818;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

@media only screen and (min-width: 480px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 200%;
}

h2 {
	font-family: 'Cormorant Garamond', serif;
	font-size: 150%;
}

p {
    line-height: 120%;
    padding-top: 0.5em;
}

header {
    background-image: linear-gradient(to right,#6d8ead, #ad6da5);
    color: #FDFDFD;
    padding: 0.5em 1em;
    margin-bottom: 1.5em;
}

.nav-item a:visited {
    color: #FDFDFD;
}

.nav-item a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
}

@media only screen and (min-width: 480px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header h2 {
        font-size: 120%;
    }

    .nav-item a {
        padding-left: 1em;
    }
}

@media only screen and (max-width: 480px) {
    header h2 {
        text-align: center;
    }

    nav ul {
        justify-content: space-around;
        padding-top: 0.5em;
    }

    .nav-item {
        display: inline;
    }
}

main {
    flex: 1;
    padding-left: 1em;
    padding-right: 1em;
}

.link-icons {
    padding-top: 0.5em;
}

.link-icons a {
    padding-right: 0.5em;
    color: #6d8ead;
}

.link-icons a:visited {
    color: #6d8ead;
}

footer {
    text-align: center;
    border-top: 1px solid #181818;
    padding-bottom: 0.5em;
    margin-top: 1.5em;
}







